  <div id="hero">
     <div class="header">
       <h1> Welcome to foodtech MTP </h1>

     </div>
  </div>

  <div class="box-menu">
    <ul>
      <li class="active"><a href="#start">Présentation</a></li>
      <li><a href="#menu">Menu</a></li>
      <li><a href="#contact">Réservation</a></li>
    </ul>
  </div>
  
  <div class="tab-content">
    <div class="box" id="start">
      <h2>Nos burgers sont fait maison, la viande et le fromage sont des produits locaux , la viande est cuite à la braise</h2>
      <p>Foodtech, aujourd’hui, c’est le « Fast-food »  où chacun trouve à tout moment de la journée des sandwichs préparés à la commande, des produits sains, équilibrés et de qualité ; à consommer sur place ou à emporter, dans une ambiance conviviale et dans un cadre contemporain. Nous avons créé une carte pour satisfaire tout le monde, les amateurs de viandes et les végétariens. La viande est halal..</p>
      <p>Foodtech déjà une référence dans le domaine de la restauration rapide et de qualité, se démarque depuis  plusieurs années par ses valeurs et son savoir-faire. Nous exigeons le meilleur pour vous satisfaire. Nos produits sont 100 % frais et artisanaux.
      </p>
      <p>Aujourd’hui,  Foodtech élargit son offre en proposant des Pizzas et des Lasagnes, non seulement en respectant les recettes traditionnelles et la fabrication artisanale  mais aussi, en proposant ses nouvelles créations gourmandes afin de vous proposer une expérience gustative de qualité.</p>
    </div>
    <div class="box" id="menu">
      <h2>Pain Artisanal</h2>
      <p>Guillaume et Daniel nous préparent tous les matins nos pains. Les deux boulangeries utilisent des ingrédients locaux.</p>
      <h2>Viande fraiche</h2>
      <p>Nous vous proposons de la viande de bœuf de race charolaise label rouge ainsi que de la limousine et de la Fleur d'Aubrac.<br>
      Toute nos viande sont fraîches et d'origine française (halal).</p>
      <h2>Frites maison</h2>
      <p>C'est au marché que nous achetons nos légumes frais et pommes de terre "produit régional".</p>
    </div>
    <div class="box" id="contact">
      <h2> Merci de reservez en avance.</h2>
      <br>


        <div style="overflow:hidden;">
            <div class="form-group">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-8">
                        <div id="datetimepicker12"></div>
                    </div>
                </div>
            </div>

      </div>

      <form>
        <input type="text" name="" value="" placeholder="Nom">
        <input type="text" name="" value="" placeholder="Prénom">
        <input type="text" name="" value="" placeholder="Nombre de personne">
        <input type="email" placeholder="Email" />
        <button class="submit">Je reserve</button>
      </form>
    </div>
  </div>


<div class="wrap2">
  <div class="slider">
    <div class="">
      <img src="https://static1.squarespace.com/static/5aa846aeb27e39f0e6cf5203/5aaba36eaa4a99311037b498/5aaba4251ae6cf1e32419417/1521198198502/1.jpg?format=1000w">
    </div>
    <div class="">
      <img src="https://static1.squarespace.com/static/5aa846aeb27e39f0e6cf5203/5aaba36eaa4a99311037b498/5aaba44df950b7fbff0782c8/1521198270211/7.jpg?format=1000w">
    </div>
    <div class="">
      <img src="https://static1.squarespace.com/static/5aa846aeb27e39f0e6cf5203/5aaba36eaa4a99311037b498/5aaba4d38a922d9bbb15818d/1521198310956/2.jpg?format=1000w">
    </div>
  </div>
</div>
