<section class="navigation">
  <div class="nav-container">

    <div class="flex-item">
      <div class="brand">
          <img src="https://png.icons8.com/color/48/000000/bavarian-pretzel.png" alt="">
      </div>
    </div>

    <div class="flex-item">
      <nav>
            <p>Ouverture : du lundi au samedi</p>
      </nav>
    </div>
  </div>
</section>
